.sidebar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.side{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.side:hover{
  background-color: lightgrey;
}

.side img{
  height: 24px;
  margin-bottom: 4px;
}

.side div{
  font-family: arial;
  font-size: 10px;
  font-weight: 500;
}